html,
body,
#app {
  color: black;
  background-color: #ffffff;
  font-weight: 350;
  font-family: "Verdana", "", Calibri, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  display: none;
}

.page-footer {
  display: none;
}

.nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.logo {
  width: 200px;

  margin-top: 15px;
}

.login-form {
  width: 400;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding: 50px;
  margin: 50px;
  background: white;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.sidenav-trigger {
  .margin-top: 50px !important;
}

header,
main,
footer {
  padding-left: 200px;
}

@media only screen and (max-width: 992px) {
  header {
    display: inline-block;
  }
  ,
  main,
  footer {
    padding-left: 0;
  }

  .page-footer {
    display: inline-block;
  }
}
