.dropdown-content a {
  color: rgb(50, 62, 72) !important;
  background: rgba(255, 255, 255, 0.95) !important;
}
.dropdown-content a:hover {
  background: rgb(200, 240, 220) !important;
}
.dropdown-content {
  box-shadow: 0px 0px 15px rgba(140, 150, 160, 0.5);
  border-radius: 10px;
  top: 60px;
}

.dropdown-content li > span {
  color: rgb(200, 240, 220) !important;
  margin-left: -10px;
}
